body {
    background: #CCC;
    padding: 20px 20px 20px 20px;
}

#tree-panel {
    position: relative;
    background: #fcfcfc;
    overflow: hidden;
}

#controls {
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 1;
    width: 300px;
}
#controls section {
    display: block;
    padding-bottom: 6px;
}
#controls section subsection {
    display: none;
}
#controls section label{
    display: none;
}
#controls section subsection label{
    display: none;
}
#controls section button {
    width: 100%;
    display: button;
}

/* optional link coloring */
.truthy-link {
     stroke: #5998ff;
}

.truthy-node {
    stroke: #5998ff;
}

.falsey-link {
    stroke: #ff554b;
}

.falsey-node {
    stroke: #ff554b;
}

#node-box {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 100px;
    left: auto;
    right: auto;
}

#boundary {
    width: 100px;
}

#root-boundary {
    width: 100px;
}
